@keyframes start-fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}

@keyframes button-fadein {
	0% { opacity:0; }
	10% { opacity:0; }
	80% { opacity:0; }
	90% { opacity:.5; }
    100% { opacity:1; }
}


.mobile-splash-container {
		animation-name: start-fadein;
    animation-duration: 2s;
	overflow: hidden!important;
	width: 100vw;
	min-width: 100%!important;
	max-height: 100%!important;
}

.mobile-splash {

  position: absolute;
  width: 80vw;
  z-index: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  object-fit: contain;
}

.mobile-text-1 {
  position: absolute;
  z-index: 1;
  top: 55vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}

.mobile-text-2 {
	position: absolute;
	z-index: 1;
	top: 70vh;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 20px;
}
.web-splash-container {
	animation-name: start-fadein;
    animation-duration: 2s;
}

.enter-button-div {
	animation-name: button-fadein;
    animation-duration: 2s;
}

.splash-logo {
		animation-name: start-fadein;
    animation-duration: 2s;
	height: 70vh;
	margin-top: 5vh;
	pointer-events: none;
	position: relative;
	/* min-height:620px; */
}

#enter-button-start {
	margin: 5%;
  	font-size: 1em;
    color: white!important;
    background-color: black!important;
}

#acc-button-start {
	color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
}

#acc-button-mobile-start {
	color: white!important;
    background-color: black!important;
}