#main-credits-container {
    padding: 10px;
}

.credits-title {
    font-size: calc(50px + 5vmin);
}

.credits-text-temp {
    margin-top: 2vh;
    font-size: calc(10px + 1vmin);
    margin-bottom: 7.5vh;
}

.credits-text-rows {
    font-size: calc(15px + 1vmin);
    min-width: 40vw;
}

.credits-row-justify {
    justify-content: space-between;
}

.credits-name {
    font-family: Heritage;
    font-size: 6vmin;
    margin-top: -30px;
}

.font-heritage {
    font-family: Heritage;
    /* margin-bottom: -5px; */
}

#resetCookies {
	color: white!important;
    background-color: black!important;
    font-size: small;
    margin: 5px;
}

#linearLink {
    margin: 5px;
}