.diagonal-bg {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #ffffff;
    opacity: 0.1;
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(45deg, #909191 0, #909191 4px, #ffffff 0, #ffffff 50%);
    z-index:-1;
    -webkit-animation: bg-lines-reverse 6s infinite; /* Safari 4+ */
    -moz-animation:    bg-lines-reverse 6s infinite; /* Fx 5+ */
    -o-animation:      bg-lines-reverse 6s infinite; /* Opera 12+ */
    animation:         bg-lines-reverse 6s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function:    linear;
    -o-animation-timing-function:      linear;
    animation-timing-function:         linear;
}

.humilitas-holder {
    width: 50vw!important;
    height: auto!important;
    margin: auto;
    background-color: white;
    filter: drop-shadow(0 0 4px rgb(148, 148, 148));
}

.humilitas-innerbox {
    margin: auto;
    padding-top:8vh;
    padding-bottom:8vh;
}

.humilitas-input {
    width: 70%;
    height: 50px;
    size: inherit;
    font-size: .7em;
    font-family: monospace;
    padding: .5em .7em;
    resize:none;
    overflow: hidden; /* Hide scrollbars */
}

.flashing-number {
    font-family: monospace;
    font-size: 2em;
    filter: drop-shadow(0 0 .1rem rgb(126, 126, 126));
    animation-name: flashingNumberOpacity;
    opacity: 0;
    animation-duration: 5s;
}

.flashing-number-off {
    opacity: 0;
}

@keyframes flashingNumberOpacity {
    0% { opacity:0; }
    15% { opacity:0; }
    25% { opacity:1; }
    75% {opacity:1; }
    100% { opacity:0; }
}

.numberWrong {
    color: red;
    font-family: Heritage;
    font-size: 4em;
}

.humanitas-input-div {
    margin-top:3vh;
    margin-bottom:3vh;
    min-height: 60px;
}

/* Animations */
@-webkit-keyframes bg-lines-reverse {
    100% { background-position: 0 40px; }
}

@-moz-keyframes bg-lines-reverse {
    100% { background-position: 0 40px; }
}
@-o-keyframes      bg-lines-reverse {
    100% { background-position: 0 40px; }
}
@keyframes         bg-lines-reverse {
    100% { background-position: 0 40px; }
}

@-webkit-keyframes bg-lines {
  0% { background-position: 0 40px; }
}
@-moz-keyframes    bg-lines {
  0% { background-position: 0 40px; }
}
@-o-keyframes      bg-lines {
  0% { background-position: 0 40px; }
}
@keyframes         bg-lines {
  0% { background-position: 0 40px; }
}