#CompleteImage {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.complete-page {
	margin: auto;
	height: 80vh;
}

.complete-page-inner {
	margin-top: 15vh;
}

.complete-fade {
    animation-name: complete-opacity;
    animation-duration: 1s;
}

@keyframes complete-opacity {
    0% { opacity:0; }
    100% { opacity:1; }
}