
.square {
  height: 60px;
  width: 60px;
  /* border: 3px solid gray; */
  padding:0px!important;
  box-shadow: 3px;
  margin: auto;
  cursor: pointer;
}

.noColor {
    background-image: url('./img/noColor.png');
	background-position: center;
}

.colorRed {
    background-image: url('./img/colorRed.png');
	background-position: center;
}

.colorOrange {
    background-image: url('./img/colorOrange.png');
	background-position: center;
}

.colorYellow {
    background-image: url('./img/colorYellow.png');
	background-position: center;
}

.colorGreen {
    background-image: url('./img/colorGreen.png');
	background-position: center;
}

.colorCyan {
    background-image: url('./img/colorCyan.png');
	background-position: center;
}

.colorBlue {
    background-image: url('./img/colorBlue.png');
	background-position: center;
}

.colorPurple {
    background-image: url('./img/colorPurple.png');
	background-position: center;
}

.square-col {
    padding:0px!important;
}

.square-button-holder {
    height:70px;
    width:630px;
    padding:0px;
    margin-top:10px;
}

.image-holders {
    height:430px;
}
.prism-image {
    height:170px;
    position:relative;
    top:20px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.beams-image {
    height:300px;
    position:relative;
    bottom:40px;
    z-index:-1;

}
.beam-image1 {
    height:300px;
    position:relative;
    bottom:340px;
    z-index:0;

}
.beam-image2 {
    height:300px;
    position:relative;
    bottom:639px;
    z-index:1;
}
.beam-image3 {
    height:300px;
    position:relative;
    bottom:940px;
    z-index:2;
}

.beam-image4 {
    height:300px;
    position:relative;
    bottom:1240px;
    z-index:3;
}

.beam-image5 {
    height:300px;
    position:relative;
    bottom:1540px;
    z-index:4;   
}
.beam-image6 {
    height:300px;
    position:relative;
    bottom:1840px;
    z-index:4;   
}
.beam-image7 {
    height:300px;
    position:relative;
    bottom:2140px;
    z-index:4;   
}
/* .beams-image7 {
    height:300px;
    position:relative;
    bottom:2440px;
    z-index:4;   
} */
.beams-holder {
    max-width:1168px;
    margin:auto;
}

.slider-container {
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 70%; /* Specific width is required for Firefox. */
  background: gray; /* Otherwise white in Chrome */
  height: 5px;
  border-radius:100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 70%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background-image:url(./img/sun1-transparentYellow.png);
  /* border-color: transparent;
  color: transparent; */
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  border: 0;
    border-radius: 50%;
  background-image:url(./img/sun1-transparentYellow.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  width: 100px;
  height: 100px;
  border: 0;
    border-radius: 50%;
  background-image:url(./img/sun1-transparentYellow.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 100px;
  width: 100px;
  border-radius: 3px;
  background-image:url(./img/sun1-transparentYellow.png);

  cursor: pointer;
}

@keyframes castitas-fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}
#castitas-holder {
    animation-name: castitas-fadein;
    animation-duration: 2s;
}
.castitas-puzzle-shadow {
  max-width: 45vw;
  min-width: 650px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 1px 5px #a1a1a1);
  padding-top: 3em;
  padding-bottom: 1em;
  justify-content: center;
}