.App {
    text-align: center;
  }
  
  .App-logo {
    height: 72vh;
    pointer-events: none;
    position: relative;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      /* animation: App-logo-float infinite 3s ease-in-out; */
      /*animation: App-logo-float ease-in-out;*/
    }
  }
  
  .App-header {
    /*border: 1px solid black;*/
    min-height: 90vh;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .App-link {
    color: rgb(112, 76, 182);
  }
  
/*  @keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px)
    }
    100% {
      transform: translateY(0px)
    }
  }
  */