.main-content-holder {
    margin-top:2vh;
    width:90vw;
    height:80vh;
    min-width:830px;
    overflow: hidden;
}

.main-content-holder.fade {
    transition: opacity 3s ease-out;
    opacity: 1;
    height: 0;
    overflow: hidden;

}

.main-puzzle-holder {
    margin-top: 2vh;
    height:90%;
    width:100%;
}

/* .layoutComponent {
    min-width:900px;
} */

.ingame-puzzle-name {
    width:100%;
    text-align:left;

}

.ingame-puzzle-name-div {
    min-width:300px;
    width: 40%;
    
}

#solvePuzzleButton {
    color:black;
}

.puzzle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -2;
    overflow-y: hidden;
}

.bg-1 {
    background-image: url("./bg1.png");
    opacity: .8;
}

.bg-2 {
    background-image: url("./bg2.png");
    opacity: .8;
}

.bg-3 {
    background-image: url("./bg3.png");
    opacity: .8;
}

.bg-4 {
    background-image: url("./bg4.png");
    opacity: .8;
}

.bg-5 {
    background-image: url("./bg5.png");
    opacity: .8;
}

.bg-6 {
    background-image: url("./bg6.png");
    opacity: .8;
}


.bg-fade-in {
    animation-name: bg-fade;
    animation-duration: 4s;
}

.fg-fade-in {
    animation-name: puzzle-fade;
    animation-duration: 2s;
}

@keyframes puzzle-fade {
    0% { opacity:0; }
    20% { opacity:0; }
    100% { opacity:1; }
}

@keyframes bg-fade {
    0% { opacity:0; }
    20% { opacity:0; }
    100% { opacity:.9; }
}