.main-content-holder {
    margin-top:2vh;
    width:90vw;
    height:80vh;
    min-width:830px;
    overflow: hidden;
}

.main-content-holder.fade {
    transition: opacity 3s ease-out;
    opacity: 1;
    height: 0;
    overflow: hidden;

}

.main-puzzle-holder {
    margin-top: 2vh;
    height:90%;
    width:100%;
}

/* .layoutComponent {
    min-width:900px;
} */

.ingame-puzzle-name {
    width:100%;
    text-align:left;

}

.ingame-puzzle-name-div {
    min-width:300px;
    width: 40%;
    
}

#solvePuzzleButton {
    color:black;
}

