.MyTypist {
	width: 50em;
	text-align: left;
	word-spacing: .8vmin;
	font-size: calc(1px + 2vmin);
}

.typist-small {
	font-size: calc(.5px + 1.5vmin)!important;
}

.ContinueButton {
	text-align: left;
	position: absolute; 
	bottom: 5vh;
}

.ContinueButton Button {
	padding: 0px;
}

.typist-container {
	width: 50vw;
	height: 70vh;
}


.particles-puzzle {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100vh;
	z-index: -1;
	overflow-y: hidden;
  }
  
  .particles-fade-fast {
	animation-name: particles-opacity-fast;
	animation-duration: 1s;
  }
  
  @keyframes particles-opacity-fast {
	0% { opacity:0; }
	100% { opacity:1; }
  }