.industria-content {
    width:100%;
    flex: 0 0 100%;
}

.industria-image-div {
    /* background-color:lightyellow; */
}

.counter-image{ 
    height:35px;
    -ms-transform: rotate(270deg)translate(-14px, 0px); /* IE 9 */
    transform: rotate(270deg)translate(-14px, 0px);
}

.industria-container {
    height: 90%;
    min-width:90%;
    /* border: 6px dotted rgb(255, 232, 236); */
}

.counter-icon {
    border: black solid 1px;
    width:70px;
    height:70px;

}

.industria-video-col {
    flex: 0 0 70%;
    margin: 0 auto;
}
.counter-title {
    background-color:lightblue!important;

}

.counter-content {
    background-color:lightyellow!important;
}



.counter-input {
    /* width:20%; */
    /* height:80px; */
    border:none;
    font-size:30px;
    
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input:select {
    caret-color: transparent;
}


.industria-counters-col {
    min-width:30%;
    flex: 0 0 30%;
    margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;

}

.counter-inputs-row {
    min-width:360px;
}

.counter-icons-row {
    min-width:360px;
}

.player-fade {
    animation-name: opacity;
    animation-duration: 5s;
}

@keyframes opacity {
    0% { opacity:0; }
    100% { opacity:1; }
}