.humanitas-input-div {
    height:100%;

}

.humanitas-input {
    height: 30vh;
    width: 50%;
    size: inherit;
    font-size: .7em;
    font-family: monospace;
    padding: .5em .7em;
    resize: none;
}

.particles-humanitas {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
}