.temp-grid-div {
    height: 540px;
    min-width:1300px;
    /* border: 6px dotted rgb(255, 232, 236); */
    filter: drop-shadow(0 0 0.75rem lightgrey);
}

.temp-grid-col {
    flex: 0 0 700px;
}

.complete-grid-div {
    cursor:pointer!important;
    z-index:3;
}

.temp-square { 
    z-index:1;
    width:33px;
    height: 33px;
    border: 1px solid black;
    font-size: 20px;
}

.temp-grid {
    z-index:3;
    cursor:pointer;
}
::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

.black-square {
    background-color: black;
    color: white;
}

.white-square {
    background-color: white;
    color: black;
}

.gradient-div {
    width: 660px;
    height:20px;
    margin-top:15px;
    border: 1px solid black;
    background-image: linear-gradient(to right, black , white);
    border-radius: 10px;
}

#temp-image-holder-1 {
    margin: auto 0;
}

#temp-image-holder-1 img {
    max-width:100%;
    padding-bottom: 36px;
}

#temp-image-holder-2 {
    margin: auto 0;
    left: -40px;
}

#temp-image-holder-2 img {
    max-width:100%;
    padding-bottom: 36px;
}

.complete-grid-div {
    min-width:700px;
    justify-content: center;
}

.temp-heritage {
    font-family: Petitemort;
}