@font-face {
  font-family: 'Heritage';
  src: local('Heritage'), url(./fonts/Heritage-Display.otf) format('opentype');
}

@font-face {
  font-family: 'PitoSlab';
  src: local('PitoSlab'), url(./fonts/PitoSlab-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Petitemort';
  src: local('Petitemort'), url(./fonts/Petitemort-Regular.otf) format('opentype');
}

body {
  margin: 0;
  font-family: Petitemort!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
@font-face {
  font-family: "PitoSlab";
  src: local("PitoSlab"),
    url("./fonts/PitoSlab-Regular.otf") format("opentype");
  font-weight: normal;
} */
